@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?gbk1zq");
  src: url("../fonts/icomoon/icomoon.eot?gbk1zq#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?gbk1zq") format("truetype"), url("../fonts/icomoon/icomoon.woff?gbk1zq") format("woff"), url("../fonts/icomoon/icomoon.svg?gbk1zq#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook-with-circle:before {
  content: "\e903";
}

.icon-twitter-with-circle:before {
  content: "\e906";
}

.icon-dribbble-with-circle:before {
  content: "\e907";
}

.icon-search:before {
  content: "\e900";
}

.icon-find:before {
  content: "\e900";
}

.icon-lookup:before {
  content: "\e900";
}

.icon-magnifier:before {
  content: "\e900";
}

.icon-location:before {
  content: "\e947";
}

.icon-mobile:before {
  content: "\e958";
}

.icon-keyboard_arrow_up:before {
  content: "\e905";
}

.icon-keyboard_arrow_down:before {
  content: "\e901";
}

.icon-paper-plane:before {
  content: "\e904";
}

.icon-send:before {
  content: "\e904";
}

.icon-caret-down:before {
  content: "\e902";
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

body a {
  text-decoration: none;
}

body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.title_default {
  color: #353535;
  padding-top: 100px;
  letter-spacing: 5px;
  text-align: center;
}

.line_default {
  color: #d2d7dd;
  margin-bottom: 60px;
  margin-top: 30px;
  text-align: center;
}

.line_default i {
  margin: 0 20px;
}

.line_default::before {
  font-family: 'icomoon';
  content: '\e902';
  font-size: 15px;
  color: #353535;
  position: absolute;
  padding-top: 7px;
  padding-left: 205px;
}

.line_default_mobile {
  color: #d2d7dd;
  margin-bottom: 60px;
  margin-top: 30px;
  text-align: center;
  display: none;
}

.line_default_mobile i {
  margin: 0 20px;
}

.line_default_mobile::before {
  font-family: 'icomoon';
  content: '\e902';
  font-size: 15px;
  color: #353535;
  position: absolute;
  padding-top: 7px;
  padding-left: 90px;
}

.text_default {
  font-size: 14px;
  color: #8c9398;
  line-height: 20px;
}

header {
  background-image: url(../img/bg_header.jpg);
  background-size: cover;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

header .header {
  display: inline-block;
  width: 600px;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -300px;
}

header .header .title {
  letter-spacing: 15px;
  font-size: 40px;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

header .header .title span {
  color: #a1a9b0;
}

header .header .text_header {
  font-size: 15px;
  color: #8c9398;
  letter-spacing: 1px;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

header .header .text_header span {
  color: #a1a9b0;
  font-style: italic;
}

.menu {
  padding-top: 50px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.menu ul {
  display: none;
  text-align: center;
  padding-top: 3px;
}

.menu ul li {
  text-transform: uppercase;
  display: inline-block;
}

.menu ul li a {
  display: inline-block;
  color: #372c3c;
  padding: 6px 15px;
  background-color: transparent;
}

.menu ul li a:after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #3dc9b3;
  margin-top: 10px;
  transition: all .3s;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.menu ul li a:hover {
  text-decoration: none;
}

.menu ul li a:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.menu ul li + li {
  padding-left: 5px;
}

.btn_menu {
  float: right;
  width: 30px;
  height: 25px;
  outline: none;
  border: none;
  background-color: transparent;
  margin-top: 8px;
}

.btn_menu span {
  height: 4px;
  background-color: #372c3c;
  border-radius: 5px;
  margin-bottom: 3px;
  display: block;
}

.btn {
  margin-top: 60px;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.btn a {
  text-transform: uppercase;
  padding: 16px 30px;
  background-color: #3dc9b3;
  font-size: 15px;
  border-radius: 3px;
  text-decoration: none;
  color: #fff;
}

.main {
  background-color: #f3f5f8;
}

.text_main {
  color: #c3c7cb;
  max-width: 750px;
  margin: 0 auto;
  padding-bottom: 130px;
  text-align: center;
  letter-spacing: 0.5px;
  font-weight: 400;
}

.text_main strong {
  color: #000;
  font-weight: 300;
}

.love {
  min-height: 730px;
}

.love_img {
  text-align: center;
}

.love_img img {
  width: 150px;
  height: 150px;
}

.love_img .text_default {
  margin-bottom: 50px;
}

.title_love {
  color: #353535;
  text-transform: uppercase;
  padding-top: 50px;
}

.line_love {
  width: 35px;
  height: 3px;
  background-color: #3dc9b3;
  margin: 30px auto;
}

.text_love {
  font-size: 14px;
  color: #8c9398;
  font-weight: 400;
  padding-bottom: 100px;
}

.problem {
  background-image: url(../img/bg_cont.jpg);
  height: 300px;
  background-size: cover;
  text-align: center;
  color: #fff;
  font-weight: 400;
}

.problem .title_problem {
  font-size: 40px;
  padding-top: 80px;
  padding-bottom: 20px;
}

.problem .text_problem {
  font-size: 25px;
  padding-bottom: 30px;
}

.problem .text_problem span {
  font-style: italic;
}

.problem .down a {
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  background-color: #3dc9b3;
  border-radius: 50%;
  padding: 9px;
}

.portfolio {
  text-align: center;
}

.slider,
.slider_mobile {
  margin-top: 100px;
  margin-bottom: 150px;
}

.slider_mobile {
  display: none;
}

.slider_box {
  max-width: 350px;
  text-align: center;
}

.slider_box img {
  text-align: center;
  display: inline-block;
  width: 100%;
  position: relative;
}

.slider_box::hover {
  opacity: 1;
  background: #000;
  cursor: pointer;
  z-index: 50;
  position: absolute;
}

.slider_box .text_default {
  margin: 0px 8px;
}

.slider ul,
.slider_mobile ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

.slider li,
.slider_mobile li {
  display: inline-block;
  margin-top: 20px;
}

.slider li button,
.slider_mobile li button {
  width: 15px;
  height: 15px;
  background-color: #fff;
  border: 2px solid #c9cbca;
  border-radius: 50%;
  margin: 0 5px;
  font-size: 0;
  outline: none;
  transition: 0.4s;
}

.slider li.slick-active button,
.slider_mobile li.slick-active button {
  background-color: #000;
}

.slider_span {
  margin: 15px 0px;
  max-width: 460px;
}

.passion {
  min-height: 200px;
  background-color: #242830;
  text-align: center;
}

.btn_passion {
  padding-top: 92px;
}

.btn_passion a {
  padding: 20px 35px;
  border: 1px solid #fff;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.team img {
  width: 205px;
  height: 220px;
}

.soc_icons {
  text-align: center;
}

.soc_icons ul {
  display: inline-block;
}

.soc_icons ul li {
  display: inline-block;
}

.soc_icons ul li a {
  font-size: 30px;
  color: #000;
  text-decoration: none;
  transition: all 0.3s;
  outline: none;
  margin: 0 3px;
}

.soc_icons ul li a:hover {
  color: #61d2c1;
}

.send {
  background-image: url(../img/bg_send.jpg);
  height: 450px;
  background-size: cover;
  text-align: center;
}

.send .title_send {
  padding-top: 175px;
  color: #fff;
}

.send input {
  background-color: transparent;
  color: #fff;
  margin-top: 30px;
  border: 1px solid #fff;
  outline: none;
  width: 300px;
  height: 50px;
  padding: 5px;
}

.btn_send {
  margin-top: 40px;
}

.btn_send a {
  text-transform: uppercase;
  padding: 16px 30px;
  background-color: #3dc9b3;
  font-size: 15px;
  border-radius: 3px;
  text-decoration: none;
  color: #fff;
}

.contact {
  background-color: #f3f5f8;
}

.cards {
  text-align: center;
  margin-bottom: 50px;
  height: 150px;
  background-color: #fff;
}

.cards i {
  display: block;
  padding-top: 25px;
  font-size: 20px;
  color: #000;
}

.cards .title_card {
  text-transform: uppercase;
  font-size: 14px;
  color: #3dc9b3;
  padding-top: 20px;
}

.cards .text_card {
  font-size: 14px;
  color: #8c9398;
  padding-top: 10px;
}

.contact .soc_icons {
  padding-bottom: 100px;
}

footer {
  height: 120px;
  background-color: #242830;
}

footer .footer_text {
  padding-top: 50px;
}

footer .footer_text .text_footer_l {
  color: #a1a9b0;
}

footer .footer_text .text_footer_r {
  color: #fff;
}

footer .footer_text .text_footer_r span {
  color: #a1a9b0;
}

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/
  .slider_box {
    max-width: 100%;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 580px) {
  /**/
  header .menu ul {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 90px;
    z-index: 15;
    background-color: #eef1ec;
  }
  header .menu ul li {
    display: block;
  }
  header .menu ul li a {
    display: block;
  }
  header .menu ul li + li {
    padding: 0;
  }
  header .header .title {
    font-size: 20px;
    letter-spacing: 10;
  }
  header .header .text_header {
    margin: 30px auto;
    width: 300px;
    font-size: 12px;
  }
  .btn {
    margin-top: 60px;
  }
  .btn a {
    padding: 10px 20px;
    font-size: 13px;
  }
  .line_default {
    display: none;
  }
  .line_default_mobile {
    display: block;
  }
  .slider li button,
  .slider_mobile li button {
    margin: 0px 5px;
  }
  .problem .title_problem {
    font-size: 25px;
  }
  .problem .text_problem {
    font-size: 20px;
  }
  .problem .down a {
    margin-top: 10px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/
}

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/
}
